DATABASE_URL=postgresql://postgres:postgres@db:5432/check-breaker
DATABASE_URL_ASYNC=postgresql+asyncpg://postgres:postgres@db:5432/check-breaker
SECRET_KEY=test

ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITM=HS256